{% extends 'base.html' %}

{% block content %}

    <div class="home-content">
        {% if user.is_authenticated %}
            <ul class="collapsible popout center-align">
                <li>
                    <div class="collapsible-header">
                        {{ content }}
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="collapsible-body"><span>{{ meaning }}</span></div>
                </li>
            </ul>
        {% else %}
        <ul class="collapsible popout center-align">
            <li>
                <div class="collapsible-header">
                    {{ content }}
                </div>
                <div class="collapsible-body"><span>{{ meaning }}</span></div>
            </li>
        </ul>
        {% endif %}
  
{% endblock %}