<nav class="blue lighten-1 black_text">
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo white-text">
            <strong>White<span class="black-text">Hair</span></strong>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="fa-solid fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'list_proverbs' %}">Proverbs</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="{% url 'add_proverb' %}">Add Proverbs</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'list_proverbs' %}">Proverbs</a></li>
    <li><a href="collapsible.html">Favorites</a></li>
    <li><a href="{% url 'add_proverb' %}">Add Proverbs</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'account_login' %}">Login</a></li>
    {% endif %}
</ul>